<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Verkefni 4 - lausn</title> 
        <!-- Noramlize -->
        <link rel="stylesheet" href="/static/normalize.css" />
        <!-- Pure CSS library-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">  
        <!-- my css -->
        <link rel="stylesheet" href="/static/styles.css" />
        
    </head>
    <body>
        <div class="wrapper">
            {% include "navigation.html" ignore missing %}
            <main>{% block content %}{% endblock %}</main>
            {% include "footer.html" ignore missing %}    
        </div>
    </body>
</html>